<div class="drip-navigation">
    <div class="container">
        <div class="row drip-navigation">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="list-inline">
                    <li><a href="{% url "drip_dashboard" %}" class="drip-nav-link">Drip Home</a></li>
                    <li><a href="{% url "drip_subscribers" %}" class="drip-nav-link">Subscribers</a></li>
                    <li><a href="{% url "drip_subscriber_lists" %}" class="drip-nav-link">Lists</a></li>   
                    <li>{% include "drip-message-actions-dropdown.html" %}</li>                
                </ul>
            </div>
        </div>
    </div>
</div>