<div class="dropdown">
        <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Messages
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="{% url "drip_messages" %}">Messages</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Send Drip Message to Single Drip Subscriber</a></li>
          <li><a href="#">Send Drip Message Drip Subscriber List</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Email Single Drip Subscriber</a></li>
        </ul>
      </div>