    <div class="form-container">
        <form action="{% url "subscribe" %}" method="POST">{% csrf_token %}
            <p class="form-title"></p>
            <div class="form-group">
                
                <label for="{{drip_form.email.id_for_label}}">Enter your email address below</label>
                {{ drip_form.email.errors }}
                {{ drip_form.email }}
                </div>

                {{ drip_form.funnel_entry_point }}

            <button type="submit" class="btn btn-danger">Subscribe</button>
        </form>
    </div>