{% extends "content-layout.html" %}
{% load static %}
{% block content %}

    <div class="blog-navigation">
        <div class="container">
            <div class="row">
            <p class="homepage">
                <a href="{% url "featured_articles" %}">
                    <img src="{% static "img/yelluw-logo.png" %}" class="blog-logo">
                </a>
            </p>
            </div>
        </div>
    </div>

    <div class="center-aligned-headline article-header">

            <div class="container">
                    <div class="row">

                        <div class="article-headline">
                        
                            <p>{{ article.title|title }}</p> 
                    
                        <!-- end headline -->
                        </div>
                
                    <!-- end row -->
                    </div>         
            <!-- end container -->
            </div>
        <!-- end center-aligned-headline -->
    </div>

    <!-- article meta  -->
    <div class="center-aligned-headline article-meta">

            <div class="container">
                    <div class="row">

                        <div class="metadata">
                        
                            <p class="">Published on {{ article.created|date:"M d Y" }} by {{ article.author|title }} </p>
                    
                        <!-- end headline -->
                        </div>
                
                    <!-- end row -->
                    </div>         
            <!-- end container -->
            </div>
        <!-- end center-aligned-headline -->
    </div>

        <div class="one-column-content article-content">
        
        <div class="container">

          <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              
              {{article.content|safe}}           

            </div>     
           
          <!-- end row -->
          </div>

      <!-- end container-->
      </div>

    <!-- end one-column-content -->
</div>
{% endblock content %}