{% extends "layout.html" %}

{% load static %}

{% block title %}{{article.title|title }}{% endblock title %}

{% block twittercard %}

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@yelluwmedia"/>
    <meta name="twitter:title" content="{{ article.title|title }}"/>
    <meta name="twitter:description" content="{{ article.content|title|truncatechars:40|striptags}}"/>
    <meta name="twitter:image" content="{% static "img/brand/profile-icon.png" %}" />

{% endblock twittercard %}

{% block content %}

{% include "header.html"%}
{% include "hero-drip-subscriber.html" %}

    <div class="center-aligned-headline article-header">

            <div class="container">
                    <div class="row">

                        <div class="article-headline">
                        
                            <p>{{ article.title|title }}</p> 
                    
                        <!-- end headline -->
                        </div>
                
                    <!-- end row -->
                    </div>         
            <!-- end container -->
            </div>
        <!-- end center-aligned-headline -->
    </div>

    <!-- article meta  -->
    <div class="center-aligned-headline article-meta">

            <div class="container">
                    <div class="row">

                        <div class="metadata">
                        
                            <p class="">Published on {{ article.created|date:"M d Y" }} by {{ article.author.get_full_name|title }}</p>
                    
                        <!-- end headline -->
                        </div>
                
                    <!-- end row -->
                    </div>         
            <!-- end container -->
            </div>
        <!-- end center-aligned-headline -->
    </div>

        <div class="one-column-content article-content">
        
        <div class="container">

          <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              
              {{article.content|safe}}

              <br>
              <br>
              <p><span class="article-category">Category: {{article.blog_article_category}}</span></p>

            </div>     
           
          <!-- end row -->
          </div>

      <!-- end container-->
      </div>

    <!-- end one-column-content -->
</div>

{% include "work-inquiry-contact-form.html" %}
{% include "footer.html" %}
{% endblock content %}