{% extends "layout.html" %}

{% load static %}

{% block title %}Blog{% endblock title %}

{% block content %}

{% include "header.html" %}


    
    <div class="featured-articles">
    
        <div class="container">

            <div class="row">

                <p class="headline">Must Read:</p>

                {% for featured_article in featured_articles %}
                    <p><a href="{% url "article" featured_article.slug featured_article.id %}" class="link">{{featured_article.title}}</a></p>
                {% endfor %}
            </div>
        
        </div>

    </div>


    <div class="latest-articles">
    
        <div class="container">

            <div class="row">

                <p class="headline">Newest Articles:</p>



                {% for article in articles %}
                    <p><a href="{% url "article" article.slug article.id %}" class="link">{{ article.title }}</a></p>
                {% endfor %}


            </div>
        
        </div>

    </div>
    

{% include "footer.html" %}


{% endblock content %}




