{% extends "layout.html" %}

{% load static %}

{% block title %}Blog{% endblock title %}

{% block content %}

{% include "header.html" %}


    
    <div class="featured-articles">
    
        <div class="container">

            <div class="row">

                <p class="headline">Must Read:</p>

                {% for featured_article in featured_articles %}
                    <p><a href="{% url "article" featured_article.slug featured_article.id %}" class="link">{{featured_article.title|title|truncatechars:25}}</a></p>
                {% endfor %}
            </div>
        
        </div>

    </div>


    <div class="latest-articles">
    
        <div class="container">

            <div class="row">

                <p class="headline">Newest Articles:</p>



                {% for article in articles %}
                    <p><a href="{% url "article" article.slug article.id %}" class="link">{{ article.title|title|truncatechars:25 }}</a></p>
                {% endfor %}


            </div>
        
        </div>

    </div>

    <div class="pagination">

        <div class="container">
        
            <div class="row">
        
                <div class="pull-left">

                    {% if articles.has_previous %}
                        <p><a href="?page={{ articles.previous_page_number }}">Previous </a>
                    {% endif %}

                    {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}"> Next</a></p>
                    {% endif %}


                </div>

            </div>

        </div>

    </div>
    

{% include "footer.html" %}


{% endblock content %}




