{% load static %}

<div class="two-column-footer">
        
        <div class="container">

          <div class="row">

            <!-- left column -->
            <div class="col-lg-6 col-md-6 col-sm-6 left-column">
              <ul class="list-unstyled">
                <li class="list-title">Navigation</li>
                <li class="list-item"><a href="{% url "index" %}#prospect-contact-form">Contact Us</a></li>
                <li class="list-item"><a href="{% url "featured_articles" %}">Blog</a></li>
                <li class="list-item"><a href="{% url "page" page_slug="podcast" %}">Podcast</a></li>
                <li class="list-item"><a href="{% url "page" page_slug="terms-of-service" %}">Terms of Service</a></li>
                <!-- <li class="list-item"><a href="{% url "index" %}">Terms & Conditions</a></li> -->
              </ul>
            <!-- end left column -->
            </div>

            <!-- right column -->
            <div class="col-lg-6 col-md-6 col-sm-6 right-column">
              <ul class="list-unstyled">
                <li class="list-title">Social</li>
                <li class="list-item"><a href="https://twitter.com/yelluwmedia">Twitter</a></li>
                <li class="list-item"><a href="https://anchor.fm/yelluw">Anchor</a></li>
                <li class="list-item"><a href="https://www.facebook.com/Yelluw-309813039405490/">Facebook</a></li>

              </ul>
            <!-- end right column -->
            </div>  
           
          <!-- end row -->
          </div>

      <!-- end container-->
      </div>

    <!-- end two-column-footer -->
    </div>