{% load static %}

<div class="center-aligned-headline">
    <div class="container">
            <div class="row">

                <div class="headline">
                    
                    <p><a href="{{header_link}}"><img src="{% static "img/yelluw-logo.png" %}" class="logo"></a></p> 
                
                <!-- end headline -->
                </div>
            
            <!-- end row -->
            </div>         
    <!-- end container -->
    </div>
<!-- end center-aligned-headline -->
</div>
