{% load static %}

<div class="center-aligned-headline">
    <div class="container">
            <div class="row">

                <div class="headline">
                    
                    {% if header_link %}
                        <p><a href="{{header_link}}"><img src="{% static "img/brand/logo.png" %}" class="logo"></a></p>
                    
                    {% else %}
                        <p><a href="{% url "index" %}"><img src="{% static "img/brand/logo.png" %}" class="logo"></a></p>
                    
                    {% endif %}

                
                <!-- end headline -->
                </div>
            
            <!-- end row -->
            </div>         
    <!-- end container -->
    </div>
<!-- end center-aligned-headline -->
</div>
