{% extends "layout.html" %}

{% load static %}

{% block title %}Get the most out of your business{% endblock title %}

{% block content %}

    {% include "header.html" %}

 <div class="hero-subscription-form">
        <div class="container">
          
                <!-- left / top -->
                <div class="col-lg-6 left-top">
                    
                    <div class="row">
                        <p class="hero-headline">Headline</h1>
                    </div>

                    <div class="row">
                        <p class="hero-text">

                        </p>
                    </div>

                <!-- end left / top -->
                </div>

                <!-- right / bottom -->
                <div class="col-lg-4 col-lg-offset-1 right-bottom">
                    <div class="row">
                    
                        <div class="form-container">
                            <form>
                                <p class="form-title"></p>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Enter your email address below:</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1">
                                </div>
                                <!-- <div class="form-group">
                                    <label for="exampleInputName1">Your Name</label>
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Your Name">
                                </div> -->

                                <button type="submit" class="btn-form">Join</button>
                            </form>
                        </div>
                    </div>
             <!-- end right / bottom -->
             </div>

    <!-- end container-->
    </div>

    <!-- end hero-subscription-form -->
</div>

    {% include "work-inquiry-contact-form.html" %}
    
    {% include "footer.html" %}

{% endblock content %}