{% extends "layout.html" %}

{% load static %}

{% block title %}Get the most out of your business{% endblock title %}

{% block content %}

    {% include "header.html" %}

    <div class="three-column-content">
        
        <div class="container">

          <div class="row">

            <!-- left column -->
            <div class="col-lg-4 col-md-4 col-sm-4 left-column">
              
              <img src="{% static "img/coding-services-icon.png" %}" class="column-img services-icon-img">

              <p class="column-title">Software Development</p>

              <p class="column-content">
                Our team develops software applications using 
                Django, Python and Javascript
                that fix your complicated business problems, 
                fit seamlessly into your existing workflow, 
                and produce net results for your business.
              </p>

            <!-- end left column -->
            </div>

            <!-- middle column -->
            <div class="col-lg-4 col-md-4 col-sm-4 middle-column">

              <img src="{% static "img/digital-marketing-icon.png" %}" class="column-img services-icon-img">

              <p class="column-title">Digital Marketing</p>

              <p class="column-content">
                We are outreach experts who leverage
                technology to increase your market share.
                Our focus is on tangible results and not
                on vanity metrics.  
              </p>
              
            <!-- end middle column -->
            </div>  

            <!-- right column -->
            <div class="col-lg-4 col-md-4 col-sm-4 right-column">
              
              <img src="{% static "img/social-media-management.png" %}" class="column-img services-icon-img">

              <p class="column-title">Social Media</p>

              <p class="column-content">
                Hire us to find and work with key influencers in social networks 
                to captivate their audience and boost your growth.
              </p>

            <!-- end right column -->
            </div>          
           
          <!-- end row -->
          </div>

      <!-- end container-->
      </div>

    <!-- end three-column-content -->
    </div>

    <!-- Two three-column-content components are used -->

    <div class="three-column-content three-column-content-bottom">
        
        <div class="container">

          <div class="row">

            <!-- left column -->
            <div class="col-lg-4 col-md-4 col-sm-4 left-column">
              
              <img src="{% static "img/brand-strategy.png" %}" class="column-img services-icon-img">

              <p class="column-title">Strategy</p>

              <p class="column-content">
                Uniquely position yourself in the mind of your customers
                with creative brand strategies engineered to captivate their
                attention.
              </p>

            <!-- end left column -->
            </div>

            <!-- middle column -->
            <div class="col-lg-4 col-md-4 col-sm-4 middle-column">

              <img src="{% static "img/content-production-icon.png" %}" class="column-img services-icon-img">

              <p class="column-title">Content Production</p>

              <p class="column-content">
                Drive people to your business
                with captivating content.
                Outmaneuver your competition by
                hijacking their audiences through
                laser targeted content that brings home
                results. We work with established and emerging
                formats.
              </p>
              
            <!-- end middle column -->
            </div>  

            <!-- right column -->
            <div class="col-lg-4 col-md-4 col-sm-4 right-column">
              
             <img src="{% static "img/sales-automation-icon.png" %}" class="column-img services-icon-img">

              <p class="column-title">Sales Automation</p>

              <p class="column-content"> 
                Allow us to turn your computers and phones
                into 24 hour salespeople that are always
                delivering results. Augment your sales
                process by automating the repetitive tasks.
                Focus on results. Not tasks.
              </p>

            <!-- end right column -->
            </div>          
           
          <!-- end row -->
          </div>

      <!-- end container-->
      </div>

    <!-- end three-column-content -->
    </div>

    {% include "work-inquiry-contact-form.html" %}
    
    {% include "footer.html" %}

{% endblock content %}