{% extends "layout.html" %}

{% load static %}

{% block title %}{{article.title|title }}{% endblock title %}

{% block content %}

{% include "header.html" %}

<div class="thank-you">

    <div class="container">

        <div class="row">

            <div class="message">

                <p>We have received your message and will be contacting you <span class="underline">in shortly.</span></p>

            </div>

        </div>

        <div class="row">
            
            <div class="links">

                <p>In the meantime, spend some time on our <span class="underline">must read</span> <a href="{% url "featured_articles" %}">blog</a>:</p>

                {% for featured_article in featured_articles %}
                    <p class="link"><a href="{% url "article" featured_article.slug featured_article.id %}">{{featured_article.title|title}}</a></p>
                {% endfor %}

                {% for article in articles %}
                    <p class="link"><a href="{% url "article" article.slug article.id %}">{{article.title|title}}</a></p>
                {% endfor %}


            </div>
            
        </div>

    </div>

</div>

{% include "footer.html" %}


{% endblock content %}