/*

   Agency Landing Page template styles.
    
*/

/****** Fonts ******/

@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

@import url('https://fonts.googleapis.com/css?family=Work+Sans');

 @import url('https://fonts.googleapis.com/css?family=Merriweather');

/****** Override Bootparts styles ******/

.center-aligned-headline {
    padding-top: 30px;
    padding-bottom: 22px;
    background: url(../img/bg.png);
}

.three-column-content {
    background: #fff;
    padding-bottom: 0px;
}

.three-column-content .column-content {
    text-align: justify;
}

.two-column-footer {
    background: url(../img/bg.png);
}

.two-column-footer .list-title {
    color: #999;
}

.two-column-footer a {
    color: #f4d425;
}

.one-column-content {
    background: #fff;
    padding-top: 15px;
}
/****** Template custom styles ******/

body {
    font-family: 'Droid Sans', sans-serif;
    background: url(../img/bg.png);
}

.underline {
    border-bottom: 1px #000 solid;
}

.three-column-content-bottom {
    padding-top: 15px;
    padding-bottom: 20px;
}

.logo {
    width: 50%;
    height: 50%;
}

.services-icon-img {
    height: 30%;
    width: 30%;
}

.prospect-contact-form {
    background: #e1e1e1;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.1em;
}

.prospect-contact-form label {
    padding-top: 12px;
}

.prospect-contact-form .required {
    color: red;
}

.form-header {
    font-size: 3.0em;
}


.btn-form {
    margin-top: 20px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:121px;
	text-decoration:none;
	text-align:center;
}

.btn-form:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}

.btn-form:active {
	position:relative;
	top:1px;
}

.disclaimer {
    padding-top: 10px;
    font-size: .6em;
}

/* Thank You Page Styles */

.thank-you {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
  
}

.thank-you .message {
    font-size: 2.0em;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.thank-you .links {
    padding-top: 25px;
    text-align: center;
}

.thank-you .links p {
    font-size: 1.5em;
}

.thank-you .links .link {
    padding-top: 20px;
}


/* Blog Styles */

/* Article Styles */

.featured-articles {
    padding-top: 40px;
    background: #fff;
}

.featured-articles .headline {
    font-size: 2.0em;
    font-family: 'Merriweather', serif;
}

.featured-articles .link {
    padding-left: 40px;
    font-size: 1.5em;
}

.latest-articles {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff;
}

.latest-articles .headline {
    font-size: 2.0em;
    font-family: 'Merriweather', serif;
}

.latest-articles .link {
    padding-left: 40px;
    font-size: 1.5em;
}


.article-header {
    padding-top: 20px;
    padding-bottom: 5px;
    background: #fff;
}

.article-headline {

    color: #000;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Merriweather', serif;
}

.article-meta {
    padding-top: 1px;
    padding-bottom: 5px;
    background: #fff;
}

.article-meta .metadata {
    text-align: center;
    color: #999;
    font-family: 'Work Sans', serif;
    
}

.article-content {
    padding-top: 30px;
    text-align: justify;
    background: #fff;
}


/****** Media Queries ******/

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    
    /* Override Bootparts Defaults */

    .three-column-content {
        padding-bottom: 0px;
    }

    .three-column-content .column-title {
        font-size: 1.2em;
    }

    .three-column-content .column-content {
        font-size: 1.1em;
        text-align: center;
    }

    /* left column */
    .three-column-content .left-column {
        padding-top: 15px;
    }

    /* middle column */
    .three-column-content .middle-column {
        padding-top: 15px;
    }

    /*right column */
    .three-column-content .right-column {
        padding-top: 15px;
    }

    .two-column-footer .list-item {
        font-size: .8em;    
    }

    /* Template Custom styles */

    .logo {
        width: 80%;
        height: 80%;
    }

    .three-column-content-bottom {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .services-icon-img {
        height: 20%;
        width: 20%;
    }

    .form-header {
        font-size: 2.0em;
    }

    .prospect-contact-form {
        font-size: .8em;
    }

    /* Blog Styles */


    /* Article Styles */

    .featured-articles .headline {
        padding-left: 20px;
    }

    .featured-articles .link {
        font-size: .9em;
    }

    .latest-articles .headline {
        padding-left: 20px;
    }

    .latest-articles .link {
        font-size: 1.2em;
    }

    .article-content {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1.2em;
    }
}